* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*
.display-1 {
  font-size: calc(1.625rem + 4.5vw);
  font-weight: 300;
  line-height: 1.2;
}

header {
  display: block;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
}
*/
